@media (prefers-color-scheme:light){
  :root{
     height: 100vh;
     background: white;
     background: linear-gradient(white, #D3D3D3);
     color:#1b1b1b;

     --text-primary: black;
     --text-secondary: white;
     --background-secondary: #155486;
  }
}
@media (prefers-color-scheme:dark){
  :root{
     height: 100vh;
     background: black;
     background: linear-gradient(black, #2F2F2F);
     color:#fff;

     --text-primary: white;
     --text-secondary: black;
     --background-secondary: #BDE2FF;
  }
}
h1 {
  font-family: "Arial", serif;
  font-weight: 400;
  font-size: 30px;
  Text-align: left;
} 

ul {
  font-family: "Gill Sans", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul > li{
   float: left;
   display: inline-block;
}

li a {
  display: block;
  color:var(--text-primary);
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

a {
  display: block;
  padding: 8px;
}

li a:hover {
  color:var(--text-secondary);
  background:var(--background-secondary);
}

.flex {
  display: flex;
  margin-left: 25px;
  justify-content: space-between;
  align-items: center;
}

main {
    Position: relative;
    margin-left: 25px;
    Font-size: 20px;
}
